[submodule "externals/marray"]
	path = externals/marray
	url = https://github.com/bjoern-andres/marray.git
[submodule "externals/pybind11"]
	path = externals/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "externals/googletest"]
	path = externals/googletest
	url = https://github.com/google/googletest.git
